body{
    background-image: linear-gradient(
        45deg,
        #27312B 30%,
        #090E0D
    );
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{
    background-color:#190a44ad;
    gap: 5rem;
    border-radius: 40px;
    border: solid #2a0a44 ;
    box-shadow: 10px 10px 100px black;
}

.form{
    position: relative;
    display: flex;
    left: 300px;
    top: 130px;
    color: #fff;
}

button{
    border-radius:60px ;
    display: flex;
    height: 40px;
    width: 90px;
}

#a{
    display: flex;
    color: white;
    position: relative;
    top: -33px;
    left: 141px;
}

label{
    font-size: 30px;
}