html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right top, #301f51, #301538, #271023, #1a0912, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100%;; 
    
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -250px;
    top: 20px;
}

.container img {
    padding-left: 0%;
    position: static;
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
}

.nav-item{
    font-size: 20px;
}

#s{
    background-color:  #498B74;
    left: 300px;
    list-style: none;
    border-radius:30px ;
}

#c{
    position: relative;
    left: 400px;
    background-color:  #498B74;
    list-style: none;
    border-radius:30px ;
}

#m{
    position: relative;
    left: 500px;
    background-color:  #498B74;
    list-style: none;
    border-radius:30px ;
}

.show{
    display: block;
}

.btn{
    display: flex;
    justify-content: space-between;
    padding: 20%;
    position: relative;
    top: -300px;
}

.fv {
    border-radius: 30px;
    height: 50px;
    width: 160px;
    font-size: 30px;
}

.red {
    border-radius: 30px;
    height: 50px;
    width: 160px;
    font-size: 30px;
}

.drop {
    border-radius: 30px;
    height: 50px;
    width: 160px;
    font-size: 30px;
}

#t1{
    display: none;
   

}
#t2{
    display: none;


}
#t3{
    display: none;
   
}

.cf{
    position: relative;
    top: 10px;
    right: 48px;
    margin: 10px;
    width: 150%;
    height: 100%;
    background-color: #cddbd637;
    border-radius: 30px;
}
.cfChild{
    position: relative;
    top: 1px;
    right: 66px;
    margin: 10px;
    width: 150%;
    height: 100%;
}

.cr{
    position: relative;
    top: 10px;
    right: 46px;
    margin: 10px;
    width: 150%;
    height: 100%;
    background-color: #cddbd637;
    border-radius: 30px;
}
.crChild{
    position: relative;
    top: -18px;
    right: 66px;
    margin: 10px;
    width: 150%;
    height: 100%;
}

.cd{
    position: relative;
    top: 10px;
    right: 47px;
    margin: 10px;
    width: 150%;
    height: 100%;
    background-color: #cddbd637;
    border-radius: 30px;
}